data/simmc2_dials_dstc10_train.json filter=lfs diff=lfs merge=lfs -text
data/simmc2_dials_dstc10_dev.json filter=lfs diff=lfs merge=lfs -text
data/simmc2_dials_dstc10_devtest.json filter=lfs diff=lfs merge=lfs -text
data/simmc2_scene_jsons_dstc10_public.zip filter=lfs diff=lfs merge=lfs -text
data/simmc2_scene_images_dstc10_public_part1.zip filter=lfs diff=lfs merge=lfs -text
data/simmc2_scene_images_dstc10_public_part2.zip filter=lfs diff=lfs merge=lfs -text
data/fashion_prefab_metadata_all.json filter=lfs diff=lfs merge=lfs -text
data/furniture_prefab_metadata_all.json filter=lfs diff=lfs merge=lfs -text
data/simmc2_dials_dstc10_dev_retrieval_candidates.json filter=lfs diff=lfs merge=lfs -text
data/simmc2_dials_dstc10_devtest_retrieval_candidates.json filter=lfs diff=lfs merge=lfs -text
data/simmc2_dials_dstc10_teststd_public.json filter=lfs diff=lfs merge=lfs -text
data/simmc2_dials_dstc10_teststd_retrieval_candidates_public.json filter=lfs diff=lfs merge=lfs -text
data/simmc2_scene_images_dstc10_teststd.zip filter=lfs diff=lfs merge=lfs -text
data/simmc2_scene_jsons_dstc10_teststd.zip filter=lfs diff=lfs merge=lfs -text
